<div id="comments">
    {% if not subject.comments.isEmpty() %}
        {% for comment in subject.comments %}

            <div class="media">
                <div class="media-left">
                    <a href="{{ comment.created_by.route('view') }}">
                        {{ img(comment.created_by.gravatar({'d': 'identicon'})).class('media-object img-circle').width(64)|raw }}
                    </a>
                </div>
                <div class="media-body">
                    <div class="h4 media-heading text-muted">
                        {{ comment.created_by.username }} - {{ comment.created_at.diffForHumans() }}
                    </div>
                    {{ comment.body|markdown|mentions_linkify|str_linkify|raw }}
                </div>
            </div>

        {% endfor %}
    {% else %}
        <p>No comments just yet!</p>
    {% endif %}

    <hr>

    {{ form('comment').subject(subject)|raw }}

</div>
